.box-comment {
    width: 100%;
}
.input-comment {
    padding: 20px 12px;
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-style: italic;
    border-radius: 2px;
}
.input-comment:focus {
    animation: linear 0.9s;
    opacity: 0.8;
}
.btn-comment {
    display: block;
    margin-left: auto;
    padding: 10px 16px;
    margin-top: 5px;
    border: none;
    background-color: #265192;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.list-result-cmt {
    list-style: none;
}
.p-result-cmt {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.item-result {
    margin-left: 12px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
}
.item-result-cmt:nth-child(2),
.item-result-cmt:nth-child(3),
.item-result-cmt:nth-child(4)
{
    margin-left: 70px;
    margin-top: 30px;
}
.box-item-cmt {
    display: flex;
}
