* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif;
    ;
}

.div-container {
    width: 100%;

}

header {
    display: flex;
    justify-content: space-around;
    height: max-content;
    background-color: #dcdcdd;
}

.anchor-a {
    font-size: 12px;
    color: #8b842f;
    text-decoration: none;
    padding: 5px;
    border-right: 1px solid #00000068;
}

.anchor-a:hover {
    text-decoration: underline;
}

.div-banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    background-image: url(../images/product/headerbg.png);
    justify-content: space-around;
}

.img-banner {
    position: absolute;
    left: 16em;
    top: 3em;
}

.div-searchsite {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 16em;
    top: 3em;

}

.cart {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -1em;
    right: 1em;
    background-image: url(../images/product/cart.png);
    background-repeat: no-repeat;
}

.search-box {
    width: 320px;
    height: 28px;
    position: absolute;
    top: 5em;
    right: 1em;
}

.search-box::placeholder {
    font-style: italic;
    font-size: 12px;
    border: none;

}

.search-box::placeholder::selection {
    border: none;
}

.search-btn {
    height: 20px;
    width: 20px;
    position: relative;
    top: calc(4em + 17px);
    right: 2em;

}

.div-nav {
    width: 100%;
    height: fit-content;
    background: url(../images/product/menubg.png);
    display: block;
}

.ul-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.li-nav {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 50px;
    position: relative;
}

.li-nav a {
    color: #ffffff;
    text-decoration: none;
}

.li-nav:hover {
    background-color: #033801;
}

.div-main-content {
    width: inherit !important;
    height: fit-content;
    background: url(../images/product/bg_pattern.jpg);
}

.swiper {
    width: 75%;
    height: 300px;

}

.div-title-banner {
    margin-top: 40px;
    display: flex;
    height: 100px;
    position: relative;
    color: #dcdcdd;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/product/banner-title.png);
    
    
}
.div-title-banner h3{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    transform: translateY(-4px);
}

.div-title-banner::before {
    content: "";
    background-image: url(../images/product/lbleft.png);
    width: 32px;
    height: 85px;
    position: absolute;
    left: calc(33em + 8px);
    top: 7px;
}

.div-title-banner::after {
    content: "";
    background-image: url(../images/product/lbright.png);
    width: 32px;
    height: 85px;
    position: absolute;
    right: calc(33em + 8px);
    top: 7px;
}

.li-child-list {
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
}

.ul-child-list {
    margin-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #033801;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    display: none;
    /* opacity: 0;
    visibility: hidden; */
    transition: opacity .2s ease-out;
    z-index: 10;


}

.li-nav:hover .ul-child-list {
    display: block;
    /* visibility: visible;
    opacity: 1; */

}

.li-child-last-list {
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 5px;
}

.ul-child-last-list {
    margin-top: 10px;
    position: absolute;
    left: calc(16em - 5px);
    top: calc(-1em + 4px);
    background: #033801;
    width: 220px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out;
    z-index: 10;
}

.li-child-list:first-child:hover .ul-child-last-list {
    visibility: visible;
    opacity: 1;
}



.listbook {
    margin: 40px auto 0;
    width: 1000px;
    padding: 0 50px;
    background: url(../images/product/book_bg.png) scroll repeat-y 0 0 rgba(0, 0, 0, 0);
    list-style: none;
    display: table;
    row-gap: 200px;
}

.listbook>li {
    margin-bottom: 73px;
    margin-left: 16px;
    /* max-width: 20%; */
    display: inline-block;
    
}
.li-book{
    position: relative;

}
.div-popup{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 20px;
    display: none;
    /* visibility: hidden;
    opacity: 0; */
    z-index: 10;
}
.div-content-popup{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(../images/product/book_hover.png);
}
.div-content-popup h3{
    color: #ccc;
    position: absolute;
    left: 50px;
    top: 20px;
}
.listbook>li:hover .div-popup{
    /* visibility: visible;
    opacity: 1; */
    display: block;
}
/* FOOTER */
.div-footer{
    background: url(../images/product/headerbg.png);
    height: 240px;
    width: 100%;
}
.footer-top{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    border-top: 4px solid rgba(216,216,216,.8);
}
.footer-row{
    display: flex;
}
.div-footer li{
    min-width: 260px;
    background: url(../images/product/arricon.png) 0 9px no-repeat;
    list-style: none;
    border-bottom:  1px solid #c2c2c2;margin-bottom: 10px;
}
.div-footer li a{
    text-decoration: none;
    color: #0f5731;
    font-size: 1em;
    padding: 7px 27px;
    display: block;
}
.div-footer li a:hover{
text-decoration: underline;
}
.footer-row ul:last-child{
    margin-left: 40px;
}
.footer-icon{
    position: absolute;
    top: 50px;
    right: 50px;
}

.footer-bottom{
    text-align: center;
    border-top: 4px solid rgba(216,216,216,.8);
    background: url(../images/product/menubg.png) repeat scroll 0 0 rgba(0,0,0,0);
    padding: 10px 0;
}
.footer-bottom span {
    color: #fff; font-size: 12px;
}
.div-login-form{
    box-shadow: 6px -4px 31px -2px rgba(0,0,0,0.47);
    width: inherit !important;
    min-height: 600px;
    background: url(../images/product/bg_pattern.jpg);
    padding: 40px;
   
}
.div-form-site{
   margin: auto auto !important;;
    background-image: url(../images/product/headerbg.png);
    width: 55%;
    min-height: 400px ;
   border-radius: 85% 15% 89% 11% / 10% 85% 15% 90%;
    
}
.form-login{
    margin: 0 auto !important;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 10px;
    position: relative;
}
.h3-login{
    padding-top: 10px;
    text-align: center;
    
}
.input-form-login {
    height: 40px;
    border-radius: 30px;
    transition: border-radius 1s ease-in-out;
    border: none;
    background-color: #ffffff;
}

.input-form-login:focus{
    border-color: #ececec;
    border-radius: 10px;
  
}
label{
    font-size: larger;
}
button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, sans-serif;

}
button:hover {
    animation: pulse 1s infinite;
  }
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.label-save{
    display: inline;
    position: relative;
  }
.input-checked-login{

    position: absolute;
    bottom: calc(7em - 1px);
    left: 8em;
}
.input-checked-login:checked .label-save{
    color: #033801;
}
.div-bookdetail-main{
    
    background: url(/accets/img/bg_pattern.jpg);
}